
build-stamp
configure-stamp
debian/aprx.debhelper.log
debian/aprx.logrotate
debian/aprx.postinst.debhelper
debian/aprx.postrm.debhelper
debian/aprx.prerm.debhelper
debian/aprx.substvars
debian/changelog
debian/files


*.o
*.d

